@charset "UTF-8";
/* write */
.write {
	text-align: right;
}

.write .btn_padding {
	padding: 12px 0;
}

.write img {
	width: 25px;
    margin-left: -10px;
   	margin-right: 2px;
	vertical-align: middle;
}

.write span {
	display: inline-block;
	font-size: 18px;
	font-weight: 600;
}

/* board list */
.board_list {
	padding-top: 20px;
}

.board_list ul {
	font-size: 0;
	margin: 0 -10px;
}

.board_list ul li {
	display: inline-block;
	width: 25%;
	padding: 0 10px 56px;
}

.board_list ul li img {
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

.board_list .text_area .bd_text_title {
	font-size: 18px;
	font-weight: 600;
	padding-top: 6px;
}

.board_list .text_area .bd_text_content {
	font-size: 14px;
	padding-top: 16px;
	word-break: keep-all;
}

.board_list .text_area .bd_text_bottom {
	font-size: 14px;
	color: #7b7b7b;
	padding-top: 8px;
}