@charset "UTF-8";

.menu {
	width: 100%;
	display:table;
}

.menu>ul {
	display: table-row;
}

.menu>ul>li {
	display: table-cell;
	vertical-align: middle;
}

.menu>ul>li:first-child {
	width: 140px;
}

.menu>ul>li:first-child img {
	height: 106px;
}

.profile_txt>a>img{
	width: 22px;
	vertical-align: bottom;
}

.profile_txt>a>span {
    display: inline-block;
    text-align: center;
	font-size: 13px;
    color: #666;
    padding: 0 3px;
    margin-top: 7px;
    margin-left: -8px;
    border-bottom: 1px solid #666;
}

.category>ul>li {
	float: left;
	width: 25%;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	cursor: pointer;
}

.category>ul>li>img {
	display: block;
	width: 50px;
	margin: 0 auto;
}

/* 내용 */
.content {
	margin-top: 50px;
	border-top: 1px solid #e4e4e4;
	padding-top: 40px;
}